@import "vars"

*
  margin: 0
  padding: 0

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.contain
  &-window
    box-sizing: border-box
    height: 100vh
  &-bg
    height: inherit
    &.home
      background-image: url("../img/bg-home.jpg")
    &.main
      background-image: url("../img/bg-main.jpg")

b, strong
  font-weight: bold



